/*body {
    background-color: lightblue;
}*/

#element-toggle {
  display: none;
}
#element-toggle:checked ~ #myModal {
  display: flex;
}


@media screen and (max-width: 1024px) {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
}

.scroll {
  /* max-height: 100px; */
  height: 75%;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.scroll::-webkit-scrollbar { 
  display: none;
}
/* 
.half-height {
  
} */

 .fa-github{
    font-size: 250%;
 }

 .fa-linkedin{
  font-size: 250%;
 }

 .fa-file{
  font-size: 250%;
 }